@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // color
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;

    // layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --while:#fff;
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', 'san-serif';
    font-size: 1.6rem;
    line-height: 1.5;
}

button,input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}